<button class="btn btn-primary" (click)="showModal(newQuizModal)">Create New</button>
<table class="table mt-3">
    <thead>
        <tr>
            <th scope="col">Actions</th>
            <th scope="col">Name</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let quiz of list">
            <tr>
                <th scope="col">
                    <i class="fas fa-edit p-1" [routerLink]="['/details/', quiz._id]">
                    </i>
                    <i class="fas fa-trash p-1" (click)="delete(quiz._id)"></i>
                </th>
                <td>{{quiz.name}}</td>
            </tr>
        </ng-container>
    </tbody>
</table>

<ng-template #newQuizModal>
    <div class="modal-header">
        <h5 class="modal-title" id="newQuizModalLabel">New Quiz</h5>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div>
        <form>
            <div class="modal-body">
                <div class="form-group">
                    <label for="newQuizNameInput">Quiz Name</label>
                    <input type="text" class="form-control" id="newQuizNameInput" name="newQuizNameInput"
                        [(ngModel)]="newName" placeholder="Enter name">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="hideModal()">Close</button>
                <button type="button" class="btn btn-primary" (click)="createNewQuiz()">Create</button>
            </div>
        </form>
    </div>
</ng-template>
